div.background {
    font-family: $boldFont;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text);
    color: $textColor;


    background-image: url(../assets/callforsubmissions-02.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;



.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

p.click {
    transition: color 0.3s ease;
}

a:hover p.click,
a:focus p.click {
    color: $lightBackground;
}

section {
    margin: 1.5rem 0;
}

section p {
    font-size: calc(1.5rem + 1vw);
    margin: 0.5rem 0;
}

h1,
h2,
a {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $textColor;
    color: $textFill;
}
}

