div.typing {
    display: none;
}

div.typing.show {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .type-container {
        overflow: hidden
    }

    span.text,
    span.cursor {
        -webkit-text-stroke-width: 0;
        color: $darkerColor;
        font-size: calc(1.8rem + 5vw);
        font-family: Arial;
    }

    span.text {
        padding: 0 10px 0 0;
        margin: 0;
    }

    span.cursor {
        display: inline-block;
        animation: blink 0.8s infinite;
    }
}

@keyframes blink {
    0% {color: transparent}
    50% {color: $darkerColor}
    100% {color: transparent}
}