@media(max-width: 700px) {
    div.flex {
        flex-wrap: wrap;

        section {
            width: 100%;
        }
    }
}

@media(max-width: 500px) {
    body.home {
        background-size: 220%;
    }
}